@media (max-width: 1024px) {
    .carousel {
        .container {
            width: 80%;
        }
    }
    .modal {
        top: 58%;
    }
}

@media (max-width: 768px) {
    .promo {
        .header {
            display: flex;
            justify-content: space-around;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .benefits__block {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .consultation {
        padding: 20px;
        &__title {
            font-size: 30px;
        }
    }
    .carousel {
        .container {
            img {
                width: 80%;
            }
        .slick-slide {
            display: none;
        }
        }
    }
    .catalog {
        &__content {
            display: flex;
            align-content: center;
            justify-content: space-evenly;
        }
    }
    .reviews__info {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-wrap: wrap;
        img {
            margin-bottom: 30px;
        }
    }
    
}

@media (max-width: 576px) {
    .promo {
        .header {
            width: 510px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            &__official {
                margin-top: 20px;
            }
        }
        &__wrapper {
            margin-top: 20px;
        }
    }
}

@media (max-width: 425px) {
    .promo {
        .header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__header {
            font-size: 28px;
        }
        &__subheader {
            font-size: 18px;
        }
    }
    .benefits {
        &__block {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 10px;
        }
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }
    .consultation {
        padding: 20px;
        &__title {
            font-size: 22px;
        }
    }
    .catalog {
        &__tabs {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 0;
            flex-wrap: nowrap;
            flex-direction: column;
        }
        &__tab {
            margin-bottom: 10px;
        }
    }
    .carousel {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .footer__info {
        min-width: 400px;
        height: 240px;
    }
}

@media (max-width: 375px) {
    .promo { 
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            margin-top: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 320px) {
    .promo { 
        .header {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: none;
            img {
                width: 100%;
            }
            &__phone {
                margin-top: 20px;
            }
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
    &__icons {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        img {
            margin-top: 15px;
        }
        }
    } 
    .benefits {
        height: 100%;
        &__block{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        }
        &__item {
            margin-top: 10px;
        }
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 17px;
        }
    }  
    .consultation {
        form {
            width: 280px;
        }
    }
    .carousel {
        width: 60%;
    }
    .prev, .next {
        width: 30px;
    }
    .footer {
        &__info {
            display: none;
        }
    }
}




